section {
  background: white;
  margin: 0 auto 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  flex: 1 0 auto;

  font-family: Verdana;
  color: wheat;
  font-size: 1.5em;
}
section[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
section[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
section[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
section[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
section[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
section[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body, section {
    margin: 0;
    box-shadow: none;
  }
}

/* ------------------------------------------------------------------------------------------ */

div.left {
  width: 3cm;
}

div.right {
  width: 2cm;
}

div.header,
div.footer {
  display: flex;
  height: 3cm;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

div.header > div,
div.footer > div {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
}

div.paragraph {
  display: flex;
  height: auto;
}

div.page {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

div.stretched {
  flex: 1 1 auto;
}

/* ------------------------------------------------------------------------------------------ */

div {
  border: aqua 1px solid;
}
